{% extends 'home.html' %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Username</th>
              <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for o in obj %}
            <tr>
                <th scope="row"> {{o.id}} </th>
                <td>{{ o.first_name }}</td>
                <td>{{ o.last_name }}</td>
                <td>@{{ o.username }}</td>
                <td>
                    <a href="{{ url_for('edit_user', id=o.id) }}">
                        <button type="button" class="btn btn-primary">EDIT</button>
                    </a>
                    <a href="{{ url_for('delete', id=o.id) }}">
                        <button type="button" class="btn btn-primary">DELETE</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


